*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
*::selection{
    background-color: #555;
    color: #fff;
}
html{
    font-size: 62.5%;
}

header{
    height: 4.6rem;
    background-color: transparent;
    padding: 0 8rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav-header{

}
#nav-header li{
    display: inline-block;
    padding: .2rem 2rem;
    transition: 0.5s;
}
#nav-header li a, .header-login a{
    text-decoration: none;
    line-height: 4.2rem;
    font-size: 1.5rem;
    color: #000;
    font-weight: bold;
}
#nav-header li:hover{
    background-color: rgba(199, 203, 209, 0.889);
}
.header-login, .header-find-item{
    float: right;
    line-height: 5rem;
}
.header-login:hover a{
    opacity: .5;
}
.header-find-item{
    line-height: 47px;
    margin-right: 4rem;
    position: relative;
}
.header-find-item input{
    padding: 0.1rem 0.5rem;
    width: 22rem;
    border-radius: 2rem;
}
input[type = "text"]::placeholder{
    text-align: left;
}
header .search-submit{
    position: absolute;
    /* left: 0; */  
    bottom: 1.5rem;
    right: 1.2rem;
    background-color: transparent;
    border: none;
}
#slider{
    height: 50rem;
    background: rgba(199, 203, 209, 0.5) url(https://data.1freewallpapers.com/download/girls-friends-slide-anime-1280x800.jpg) top center/cover no-repeat;
    position: relative; 
    animation-duration: 3s;
    animation-name: slidein; 
}
.header-slider{
    position: absolute;
    top: 50%;
    left: 25%;
    font-size: 1.5rem;
    line-height: 1.2;
    letter-spacing: 2rem;
    text-indent: 0.9em;
}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
      opacity: 0.1;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
      opacity: 1;
    }
  }
.header-slider h2{
    animation-duration: 3s;
    animation-name: slidein;
}

.content-Week,
.content-Top-Read,
.content-New{
    padding: 5rem 0;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}
.content-Week .title,
.content-New .title,
.content-Top-Read .title{
    background-image: linear-gradient(to right,rgb(73, 73, 73),rgb(205, 202, 202));
    color: #fff;
    line-height: 4rem;
    font-size: 2rem;
    padding: 0 2rem;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.col-5{
    margin-top: 1rem;
    flex-basis: 25%;
    padding: 1rem;
    max-width: 20rem;
    margin-bottom: 5rem;
    transition: transform 0.5s;
    font-size: 1.5rem;
}
.col-5 a{
    text-decoration: none;
    color: #000;
}
.col-5 img{
    width: 100%;
    border-radius: 0.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.col-5:hover{
    transform: translateY(-5px);
}
.col-5 .book_type{
    margin-top: 1rem;
    opacity: 0.5;
}
.col-5 .book_name{
    margin-top: 0.8rem;
    text-align: center;
    height: 3.7rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.col-5 .book_type:hover,
.col-5 .book_name:hover,
.col-5 .book_authur:hover{
    text-decoration: underline;
}
.content-Finished {
    margin-bottom: 2rem;
}
.content-Finished .title{
    text-align: center;
    font-size: 3rem;
}
.content-outer{
    overflow: hidden;
}
.content-Finished .row{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
    position: relative;
    transition: transform 1s ease-in-out;
}
.content-Finished .cover-books{ 
    overflow: hidden;
}
.content-Finished .col-5{
    flex: 1 0 100%;
}
#myBtn {
    display: none;
    position: fixed;
    right: 30px;
    bottom: 30px;
    font-size: 18px;
    border: none;
    background-color: rgb(157, 157, 157);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    z-index: 1;
}

.content-Finished .next-slide-nav{
    display: none;
    text-align: center;
}
.content-Finished .move-next,
.content-Finished .move-prev{
    height: 4rem;
    width: 4rem;
    background-color: #555;
    border-radius: 50%;
    border: none;
    margin: 0.5rem;
    text-align: center;
    color: #fff;
    font-weight: bold;
}
.content-Finished .move-next{
    opacity: 0.5;
}

.content-Finished .move-next:hover,
.content-Finished .move-prev:hover{
    background-color: rgb(154, 154, 154);
    cursor: pointer;
    opacity: 1;
}
.flexslider .slides img{
    width: 20%;
}
footer{
    padding: 5rem;
    background-color: #25253d;
    font-size: 2rem;
    color: rgb(128, 128, 128);
}
footer .row{
    justify-content: space-around;
}
footer .box-footer a{
    text-decoration: none;
}
footer .footer-title{
    font-size: 2rem;
    color: #fff;
    font-weight: 200;
} 
footer .footer-icon{
    margin-top: 5rem;
}
footer .footer-icon a{
    margin-right: 2rem;
    color: #555;
}
footer .footer-icon a:hover{
    color: rgb(145, 145, 145);
}
footer .footer-copyright{
    text-align: center;
}